<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Расписание занятий СПбГУ Telegram бот</title>
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
</head>
<body>
    <div align="center">
        <img src="../static/spbu4u_logo_v2_122px.png">
        <p><span style="font-size: 172%; color: #9F2D20; ">
            <b>
                Spbu<span style="color: #A8ADB4; ">4U</span>Bot
            </b>
        </span></p>
        <p>Привет!</p>
        <p>Telegram бот @Spbu4UBot срасписанием занятий СПбГУ уже ждет тебя.</p>
        <p>Жми <a href="https://t.me/{{bot_name}}">/start</a> и присоединяйся!</p>
    </div>
</body>
</html>