<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="../static/spbu4u.css"/>
    <meta charset="UTF-8">
    <title>Расписание занятий СПбГУ Telegram бот</title>
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
</head>
<body>
    <div align="center">
        <img src="../static/spbu4u_logo_v2_122px.png">
        <p class="grey-color">
            <b>
                Spbu<a class="red-color">4U</a>Bot
            </b>
        </p>
        <p>Привет!</p>
        <p>Telegram бот <b>@Spbu4UBot</b> с расписанием занятий СПбГУ уже ждет тебя.</p>
        <p>Жми <a href="https://t.me/{{bot_name}}">/start</a> и присоединяйся!</p>
    </div>
</body>
</html>