{% extends "base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <img src="../static/spbu4u_rounded_corner_122px.png" class="img-responsive center-block">
            <p>Привет! Telegram бот <b>@Spbu4UBot</b> с расписанием занятий СПбГУ уже ждет тебя.
                Жми <a href="https://t.me/{{bot_name}}" style="color: blue">/start</a> и присоединяйся!
        </div>
    </div>
    <div class="navbar-fixed-bottom row-fluid">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="https://telegram.me/eeonedown">Contacts</a></li>
                    <li><a href="https://telegram.me/spbu4u_news">Chanel</a></li>
                    <li><a href="https://github.com/eeonedown/spbu4u">Git</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
